[user]
	name = hiroya.shimamoto
	email = shshimamo@gmail.com
[color]
	ui = auto
[core]
  pager = delta
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
  pushf = push --force-with-lease
  headpushf = push --force-with-lease origin head
	co = checkout
	com = checkout master
	ci = commit
  ciam = commit --amend --no-edit
  ciaam = commit -a --amend --no-edit
  ciempty = commit --allow-empty
	s = status
	b = browse
  br = branch -vv --sort=-committerdate
	l = log --follow --stat --submodule -p
  lf = log --
	lsearch = log --no-merges --stat -S
	ls = ls-files
	lsg = ls-files | grep
	lo = log --follow --oneline
  la = log --follow --stat --author
	d = diff
	di = diff --word-diff
	st = stash
	stl = stash list
	stlshow = stash list -p
	stp = stash pop
	stdrop = stash drop
  sts = stash show
	stclear = stash clear
	showname = show --name-only
	shn = show --name-only
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
  pr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  current-branch = rev-parse --abbrev-ref HEAD
  autosquash = rebase -i --autosquash
  fixup = commit --fixup
  stautosquash = commit --fixup
  g = grep -B 0 -C 0 -A 3
  gw = grep -B 0 -C 0 -A 3 -w
  gE = grep -B 0 -C 0 -A 3 -E
  gl = grep -l
  cob = !"f(){ \
          read -p '(1)feature (2)bugfix (3)migration (4)refactor (5)chore (6)hotfix: ' NUM ;\
          case \"$NUM\" in [123456]*) ;; *) echo '123456から選択してください' ; exit ;; esac ;\
          case \"$NUM\" in\
            '1') PREFIX='feature' ;;\
            '2') PREFIX='bugfix' ;;\
            '3') PREFIX='migration' ;;\
            '4') PREFIX='refactor' ;;\
            '5') PREFIX='chore' ;;\
            '6') PREFIX='hotfix' ;;\
          esac;\
          read -p \"$PREFIX/に続くブランチ名を入力: \" BRANCH ;\
          git checkout -b $PREFIX/$BRANCH ;\
        }; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[ghq]
  root = ~/devel/src
[grep]
  lineNumber = true
	extendedRegexp = true
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templatedir = ~/.git-templates/git-secrets
[credential]
  helper = osxkeychain
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[delta]
  navigate = true    # use n and N to move between diff sections
  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
