[user]
	name = hiroya.shimamoto
	email = shshimamo@gmail.com
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = /Users/clipla_user/.gitignore_global
[alias]
  pushf = push --force-with-lease
	co = checkout
	com = checkout master
	ci = commit
	s = status
	b = browse
  br = branch -vv --sort=-committerdate
	l = log
  lf = log --
	lsearch = log --no-merges --stat -S
	ls = log --no-merges --stat
	lo = log --no-merges --oneline
  la = log --no-merges --stat --author
	d = diff
	di = diff
	st = stash
	stl = stash list
	stp = stash pop
	showname = show --name-only
	shn = show --name-only
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
  pr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[ghq]
  root = ~/src
[grep]
  lineNumber = true
