[user]
	name = shima
	email = shshimamo@gmail.com
[color]
	ui = auto
[core]
	editor = vim
[alias]
	co = checkout
	ci = commit
	s = status
	b = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
